@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #191b2e;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Ant CSS */
.ant-progress-text {
  color: #fff !important;
  /* display: none !important; */
}

span.ant-input-affix-wrapper.ant-input-affix-wrapper-lg.css-dev-only-do-not-override-1uweeqc.ant-input-outlined {
  background-color: #23273d !important;
  border: none !important;
  width: 280px !important;
}

/* styles.css */
input.ant-input.ant-input-lg.css-dev-only-do-not-override-1uweeqc::placeholder {
  color: gray !important;
}

.swiper-wrapper {
  width: 460px !important;
}
.swiper-slide {
  width: 360px !important;
}
